// Global layout

html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	padding: 0 1.5rem;
	font-size: 1.15rem;
	line-height: 2rem;
	font-family: var(--body-font);
	-webkit-text-size-adjust: 100%;

	@include tablet {
		font-size: 1.25rem;
		line-height: 2.35rem;
	}
}

* {
	box-sizing: border-box;
}

input,
select,
textarea {
	font-size: 1.25rem;
	padding: 0.75rem 1rem;
	font-family: var(--body-font);
}

.site-header {
	text-align: center;
	padding: 4rem 0;

	@include desktop {
		padding: 7rem 0;
	}
}

#twpv-social-profiles {
	max-width: 768px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 4rem;
	justify-content: flex-end;

	a {
		display: inline-flex;
		margin: 0 0.5rem;
		text-decoration: none;
	}

	svg {
		height: 1.75rem;
	}
}

.site-branding a {
	text-decoration: none;
	font-family: var(--title-font);
	font-size: 2rem;
	font-weight: 600;
}

// Main frame of the site.
.site-main {
	width: 100%;
	margin: 0 auto;

	@include tablet {
		max-width: 768px;
	}

	max-width: 100%;
}

// entry-header
.entry-header {

	@include desktop {
		margin: 3rem 0 7rem 0;
	}

	margin: 3rem 0;

	.entry-title {
		font-family: var(--title-font);
		margin: 0;

		@include font-size-and-line-height-calc( 2.5, 42 );

		@include desktop {
			@include font-size-and-line-height-calc( 3, 40 );
			text-align: center;
		}
	}
}

.entry-meta {
	text-align: center;
	font-family: var(--code-font);
	font-size: 1rem;
	margin: 2.85rem 0 1rem 0;

	a {
		text-decoration: none;
	}
}

.twpv-author {
	font-family: var(--code-font);
	text-align: center;
	font-size: 0.75rem;
	color: #757575;

	span {
		font-size: 1rem;
		color: #000;
	}
}

// Inside entry content
.entry-content {
	h2 {
		margin-top: 4rem;
		font-family: var(--title-font);
		@include font-size-and-line-height-calc( 2, 30 );

		@include desktop {
			margin-top: 7rem;
			margin-bottom: 2rem;
			@include font-size-and-line-height-calc( 2.5, 32 );
		}
	}

	a {
		color: currentColor;
		text-decoration: none;
		border-bottom: 2px solid currentColor;
	}

	ul, ol {
		padding-left: 1.5rem;

		@include desktop {
			padding-left: 2.5rem;
			margin: 2.5rem 0;
		}

		li {
			margin-bottom: 0.75rem;
		}
	}

	code {
		font-family: var(--code-font);
		@include font-size-and-line-height-calc( 1, 60 );
	}

	code:not( .hljs ) {
		display: inline-flex;
		line-height: 1.25;
		padding: 0.15rem 0.25rem;
		border-left: 4px solid;
	}

	.has-background {
		position: relative;
		border-radius: 8px;
		margin: 2rem 0;
		font-family: var(--code-font);
		letter-spacing: -0.5px;
		padding: 1.5rem 1.85rem;

		@include desktop {
			padding: 1.5rem 2.625rem;
		}

		&:before {
			content: '';
			position: absolute;
			top: 8px;
			left: 8px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
	}

	.alignwide {
		@include desktop {
			margin-left: -6rem;
			margin-right: -6rem;
		}
	}

	.wp-block-code {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		overflow-y: hidden;

		@include desktop {
			border-radius: 8px;
		}
	}

	.wp-block-video {
		video {
			width: 100%;
			border: 1px solid;
			border-radius: 5px;
			padding: 0.25rem;
		}
	}

	.wp-block-image {
		img {
			border: 1px solid;
			padding: 0.25rem;
			border-radius: 5px;
		}
	}

	figcaption {
		font-size: 0.85rem;
		text-align: center;
		font-family: var(--code-font);
		margin-top: 1.5rem;
	}

	.wp-block-table {
		margin-top: 4rem;

		table,
		th, td {
			border-collapse: collapse;
			border: 1px solid;
		}

		th {
			font-family: var(--title-font);
		}

		th,
		td {
			padding: 0.5rem 1rem;
		}
	}
}

.subscription-form {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid;
	margin-bottom: 3rem;
	border-radius: 12px;
	font-family: var(--title-font);

	@include desktop {
		flex-flow: row nowrap;
		margin-left: -6rem;
		margin-right: -6rem;
	}

	&__left,
	&__right {
		padding: 2rem 1.5rem;

		@include desktop {
			padding: 2rem 3.5rem;
			flex-grow: 1;
			flex-basis: 0;
		}
	}

	&__right {
		position: relative;
		width: 100%;

		@include desktop {
			padding: 0;
		}

		input {
			display: block;
			width: 100%;
			padding: 0.75rem 1.25rem;
			font-size: 1.25rem;
			border: 0;
			box-shadow: none;
			border-bottom: 1px solid;

			&:first-child {
				margin: 1.25rem 0;
			}
		}

		button {
			border: 0;
			box-shadow: none;
			padding: 0.75rem 1.25rem;
			margin: 1.25rem;
			font-size: 1.25rem;
			border-radius: 12px;
		}
	}

	.subs-title {
		font-weight: 600;
		font-size: 1.45rem;
	}

	.subs-sub-title {
		margin-bottom: 0.5rem;
	}
}

.subscription-form-wrapper {
	position: relative;
	transform: scale(1);
		opacity: 1;

	&--hide {
		pointer-events: none;
		opacity: 0;
		transform: scale(0.95);
		transition: opacity 0.3s ease, transform 0.5s ease;
	}
}

.checker-tick {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	pointer-events: none;

	svg {
		position: relative;
		left: 50%;
		transform: translate(-50%, 0) scale(0.15);
		opacity: 0;
	}

	&--show {
		svg {
			transform: translate(-50%, 0) scale(1);
			opacity: 1;
		}
	}

	&--response-message {
		text-align: center;
		height: 38px;
		width: 100%;
		opacity: 0;
		transform: translate(0, -50%);
		transition: opacity 0.1s ease, transform 0.5s ease;

		&--show {
			opacity: 1;
			transform: translate(0, 0);
			transition: opacity 0.1s ease, transform 0.5s ease;
		}

		&--move {
			transform: translate(0, -38px);
		}
	}
}

// .checker-tick {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	pointer-events: none;
// 	transform: translate(-50%, -50%);
	
// 	svg {
// 		position: relative;
// 		// left: 50%;
// 		opacity: 0;
// 		transform: translate(-50%, -50%) scale(0.15);
// 		transition: opacity 0.15s ease, transform 0.25s ease;
// 	}

// 	&--show {
// 		pointer-events: all;
		
// 		svg {
// 			opacity: 1;
// 			transform: translate(-50%, -50%) scale(1);
// 			transition: opacity 0.15s ease, transform 0.25s ease;
// 		}
// 	}
// }

.post-navigation {
	border-radius: 12px;

	@include desktop {
		padding: 1.5rem 2rem;
		margin: 0 -6rem;
	}
}

.nav-links {
	display: flex;
	text-align: center;
	padding: 3.5rem 0;
	flex-flow: row wrap;

	& > div {
		width: 100%;
		padding: 0 0.75rem;

		@include desktop {
			padding: 0;
		}

		&:nth-child(1) {
			margin-bottom: 2rem;

			@include desktop {
				margin-bottom: 0;
			}
		}
	}

	@include desktop {
		padding: 3.5rem 0;
		padding-top: 3rem;

		& > div {
			flex-grow: 1;
			flex-basis: 0;
		}
	
		& > :nth-child(1) {
			padding-right: 1rem;
		}
	
		& > :nth-child(2) {
			padding-left: 1rem;
		}
	}


	a {
		text-decoration: none;
	}

	.nav-control {
		font-family: var(--title-font);
	}

	.nav-type {
		text-transform: uppercase;
		display: block;
		font-size: 1rem;
		font-weight: 800;
		letter-spacing: 2px;

		@include tablet {
			margin-bottom: 0;
		}

		@include desktop {
			margin-bottom: 1.5rem;
		}
	}
}

// post list only
.site-main {
	.list-item {
		display: flex;
		flex-flow: row wrap;
		padding: 0.5rem 0;

		@include desktop {
			flex-flow: row nowrap;
			margin-bottom: 0.5rem;
		}
	}

	.list-item-right-wrapper {
		margin-left: 0;
		width: 100%;

		@include desktop {
			width: auto;
		}
	}

	.list-item-count {
		font-family: var(--code-font);
		font-weight: 700;
		text-align: center;
		margin-right: 0;
		margin-bottom: 0.5rem;
		@include font-size-and-line-height-calc( 1.35, 80 );

		@include desktop {
			font-size: 1.85rem;
			margin-right: 1.25rem;
		}
	}

	.list-title {
		width: 100%;
		margin: 0;
		font-family: var(--title-font);
		font-weight: 500;

		@include font-size-and-line-height-calc( 1.35, 45 );

		@include desktop {
			@include font-size-and-line-height-calc( 1.55, 35 );
		}

		a {
			text-decoration: none;
		}
	}

	.list-item-post-date {
		font-family: var(--code-font);
		font-size: 0.85rem;
		font-weight: 500;
	}
}

.end-of-article {
	margin: 6rem auto 6rem auto;
	max-width: 500px;
}

// comments
#comments {
	margin-top: 4rem !important;
	font-family: var(--title-font);

	@include desktop {
		padding: 1.5rem 2rem;
		margin: 0 -6rem;
	}

	.comments-title {
		margin-bottom: 3rem;
	}

	.comment-form-comment {
		label {
			display: block;
		}

		textarea {
			display: block;
			width: 100%;
		}
	}

	input[name="submit"] {
		border-bottom: 1px solid;
		background-color: #d9eefe;
		color: #1b6396;
		cursor: pointer;
		border: 0;
		box-shadow: none;
		padding: 0.75rem 1.25rem;
		margin-top: 1.25rem;
		font-size: 1.25rem;
		border-radius: 12px
	}

	a {
		color: var(--title-color) !important;
		text-decoration: none;
	}

	.comment {
		list-style-type: none !important;
		border-left: 1px solid #ccc;
		padding-left: 1rem;
		margin-top: 1rem;

		.avatar {
			display: none;
		}
	}

	.comment-metadata {
		font-size: 1rem;
	}
}

#commentform {
	label {
		display: block;
	}

	.comment-form-cookies-consent {
		display: flex;

		#wp-comment-cookies-consent {
			margin-right: 0.5rem;
		}
	}
}

.buntywp {
	background-color: #FFD9DA;
	color: #000;
	font-family: var(--title-font);
	margin: 0 -1.5rem;

	@include mobile {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	
	@include desktop {
		font-size: 1.15rem;
		line-height: 2rem;
	}
	
	&__wrapper {
		@include mobile {
			padding: 0.5rem 1.5rem;
		}

		max-width: 768px;
		padding: 1rem 0;
		margin: 0 auto;
	}

	a {
		color: var(--title-color);
		text-decoration: none;
	}

	img {
		display: inline;
		max-width: 48px;
		height: auto;
		border-radius: 50%;
		margin-bottom: -16px;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

// site footer
.site-footer {
	margin-top: 5rem;
	padding: 2rem 0;
	text-align: center;
	font-family: var(--title-font);
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 2px;
	word-spacing: 4px;

	a {
		font-family: var(--title-font);
		font-weight: bolder;
		text-decoration: none;
		font-size: 1rem;
	}
}